<mat-card>
  <mat-list>
    <div mat-subheader>
      Todas las categorías
    </div>
    <mat-list-item *ngFor="let category of categories">
      <mat-icon mat-list-icon>category</mat-icon>
      <div mat-line>{{ category.title }} </div>
      <div mat-line>{{ category.description }}</div>
      <button  mat-button color="accent" [routerLink]="'/admin/category/'+category.id" >Actualizar</button>
      <button  mat-button color="warn" (click)="delete(category.id)">Eliminar</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="container text-center mt20">
    <button routerLink="/admin/add-category" mat-raised-button color="warn">Agregar categoría</button>
  </div>
</mat-card>
